@import (less) "~heyui/themes/common.less";
@import (less) "./login.less";
@import (less) "./overwrite.less";
@import (less) "./fonts/font.less";

body{
  background: #f3f6f8;
  color: #212529;
  font-weight: 400;
}

@menuWidth: 240px;
@miniMenuWidth: 50px;
@topHeight: 50px;
@logoHeight: 80px;
#app{
  .app-header {
    height: @topHeight;
    position: absolute;
    right: 0;
    left: @menuWidth;
    z-index: 1;
  }

  .app-body {
    position: absolute;
    right: 0;
    bottom: 0px;
    top: @topHeight;
    overflow: auto;
    left: @menuWidth;
    padding: 20px;
  }

  .app-menu{
    top: @logoHeight;
    width: @menuWidth;
    transition: width .2s ease-in-out;
  }

  .app-logo{
    line-height: @logoHeight;
    height: @logoHeight;
    width: @menuWidth;
    font-size: 22px;
    font-weight: bold;
    padding: 0px 20px;
    position: absolute;
    background: #FFF;
    a {
      color: #74777F;
    }
  }
  
}


.app-header{

  &-menus{
    display: inline-block;
    line-height: @topHeight;
    vertical-align: top;
    >div {
      display: inline-block;
      font-size: 15px;
      padding: 0 25px;
      color: @dark-color;
      &:hover{
        color: @primary-color;
      }
      +div {
        margin-left: 5px;
      }
      &.@{tabs-prefix}-selected{
        color: @white-color;
        background-color: @primary-color;
      }
    }
  }

  &-info {
    line-height: @topHeight;
    margin-right: 20px;
    >span{
      display: inline-block;
      float: left;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  &-dropdown{
    padding: 0 10px 0 20px;
    cursor: pointer;
    &:hover, &.@{pop-ref-prefix}{
      background: @gray3-color;
    }
  }
}


@media (max-width: 992px) {
  #app {
    .app-menu {
      position: relative;
      width: auto;
    }
    .app-body {
      position: relative;
      overflow: initial;
      left: 0;
    }
  }
}