body{
  background: url(../../static/images/bg.jpg);
  background-size: cover;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}
div{
  box-sizing: border-box;
}

input, button{
  font: inherit;
  letter-spacing: 2px;
}
#page-login{
  text-align: center;
  .login-container{
    width: 600px;
    height: 420px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.63);
    padding: 90px 116px;
    
    >div{
      margin: 30px 0;

      label{
        margin-right: 10px;
        line-height: 35px;
        font-size: 18px;
        color: @gray-color;
      }

      input {
        font-size: 16px;
        padding: 8px 0 8px 8px;
        height: 40px;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid @gray1-color;
        outline: none;
        box-sizing: border-box;
        transition: 0.3s;
        font-weight: 200;

        &:focus{
          box-shadow: none;
          border-bottom-color: #FF3266;
        }
      }

      button{
        font-size: 18px;
        border: none;
        background: #FF3266;
        width: 100%;
        color: #FFF;
        transition: .3s;
        line-height: 1.8;
        border-radius: 3px;
        cursor: pointer;
        outline: none;
        &:hover{
          background: lighten(#FF3266, 5%);
        }
      }

      &.login-title{
        font-size: 30px;
        color: @gray-color;
        line-height: 1;
        margin: -10px 0 30px;
        font-weight: 200;
      }
    }
  }
}