@import (css) "~wangeditor/release/wangEditor.min.css";

.w-e-text-container {
  border-radius: 0 0 3px 3px;
  border-color: #e4e4e4 !important;
}

.w-e-toolbar {
  border-radius: 3px 3px 0 0;
  border-color: #e4e4e4 !important;
}